.nav-bar {
    background-color: black;
    opacity: .5;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    padding: 20px 40px 15px 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: .03rem;
    text-decoration: none;
}

#nav-logo {
    width: 30px;
}

.rotate {
    animation: rotation 10s infinite linear
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
